layout {
    // Status bar
    default_tab_template {
        pane size=1 borderless=true {
	    plugin location="zellij:compact-bar"
	}
	children
	pane size=1 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

    // Tab 1: System
    tab name="system" {
        pane split_direction="horizontal" {
            pane split_direction="vertical" {
	        pane {
		    name "system information"
		    command "zsh"
		    args "-c" "fastfetch; exec zsh"
		}
	        pane {
		    name "ping"
		    command "gping"
                    args "google.com"
                    // start_suspended true
		}
            }
	    pane {
	        name "processes"
	        command "htop"
		// start_suspended=true
	    }
        }
    }

    // Tab 2: Dev
    tab name="dev" {
        pane {
	    cwd "~/Documents/code"
	}
        pane split_direction="vertical" {
            pane {
	        cwd "~/Documents/code/variosCode"
	    }
            pane {
	        cwd "~/Documents/code"
	    }
        }
    }

    // Tab 3: Config
    tab name="config" split_direction="vertical" {
        pane {
	    name "alacritty"
	    cwd "~/.config/alacritty"
	}
	pane {
	    name "zellij layouts"
	    cwd "~/.config/zellij"
	}
        pane {
	    name "binaries"
	    cwd "~/.local/bin"
	}
    }
}
